body {
    width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    background-color: rgb(111, 111, 250);
}

.container {
    width: 100vw;
    height: max-content;
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    color: white;
}

.topnav {
    background-color: rgb(235, 95, 95);
    overflow: hidden;

}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(231, 190, 77);
    color: black;
}

.topnav a.active {
    background-color: rgb(135, 223, 138);
    color: white;
}

.MainTitle {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;


}
.MainTitle img {
    height: auto;
    width: 100%;
    max-width: 40vw;
    max-height: auto;
    
    
}

.MainBody {
    padding: 20px;

}

.about {

    padding: 20px;
}

.projects {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;
    margin: 0;
    
}

.innerprojects {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;
}

.imgproject {
    height: auto;
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    font-size: 2vw;
    
    
}

.github .talent {
    color: white;
}

.MainTitle img:hover {
    content: url('https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/37214738_10160679643655441_6807176384205553664_o.jpg?_nc_cat=0&oh=ac2935fe6379d0274bd90eef8b1a2375&oe=5BED3276');
    height: auto;
    width: 100%;
}